/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* My Styles */

/* Global */
.container {
  width: 80%;
  height: 100%;
  display: block;
  margin:0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color:#cccccc;
}
a:hover {
  color:#B3B3B3;
}
.right {
  float: right;
  display: inline-block;
}
.left {
  float: left;
  display: inline-block;
}
.col {
  float: left;
  display: inline-block;
  width: 33.333%;
  padding: 30px;
  height: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body {
  font-family: 'Cabin', sans-serif;
}

header {
  height: 96px;
  width: 100%;
}

p {
  font-size: 15px;
  line-height: 24px;
	letter-spacing: 0.3px;
}

.header-more {
  padding: 62px 0 0 0;
  font-size: 14px;
  color:#CCCCCC;
}

.logo {
  font-size: 16px;
  color:#7154FF;
  font-weight: 500;
  padding: 62px 0 0 0;
}

.hero {

  height:384px;
  background: url("../img/background-hero.svg");
  background-size: 822px 359px;
  background-repeat: no-repeat;
  background-position: 258px 48px;
}
.hero h1 {
  font-size: 32px;
  line-height: 48px;
  color:#7154FF;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 125px 0 0;

}
.btn {
  height: 48px;
  width: 200px;
  border-radius: 30px;
  color:#FFFFFF;
  background:#7154FF;
  background-image: linear-gradient(-90deg, #26BBD4 0%, #7154FF 100%);
  display: block;
  text-decoration: none;
  margin: 50px auto 0;
  text-align: center;
  font-size: 14px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: transform .12s ease-in-out,color .12s ease-in-out;

}
.btn:hover {
  color:#FFFFFF;
  background-image: #7154FF;
  transform: scale(1.1);
  background-image: linear-gradient(-90deg, #7154FF 0%, #7154FF 100%);
  transition: transform .12s ease-in-out,color .12s ease-in-out;
}

.features {

  height: 470px;
  width: 100%;
  background: url("../img/section-bg.svg") center no-repeat;
  position: relative;
}

.features h2, .features p {
  text-align: center;
  display: block;
}

.features h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 80px 0 20px 0;
  color: #FFFFFF;
}

.features p {
  /* Build by the communi: */
opacity: 0.9;
color: #FFFFFF;

}

.features .col-one {
  background:url("../img/icon-passion.svg") top center no-repeat;
}
.features .col-two {
  background:url("../img/icon-files.svg") top center no-repeat;
}
.features .col-three {
  background:url("../img/icon-grid.svg") top center no-repeat;
}

footer {
  margin-top:100px;
  margin-bottom: 50px;
  height: 100px;
  font-size: 14px;
  color:#CCCCCC;
}

footer a {
  color:#CCCCCC;
}


footer span {
  margin:0 10px;
}
